.page__header {
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .page__header {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .page__header {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .page__header {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .page__header {
    max-width: 288px;
    margin: 0 auto;
  }
}

