.places__place {
    display: grid;
    grid-template-columns:repeat(2, minmax(284px, 1fr));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    max-width: 984px;
    gap: 40px 48px;
}
