.place__website {
  max-width: 456px;
  grid-column: 2;
  align-self: end;
}

@media (max-width: 1100px) {
  .place__website {
    max-width: 456px;
  }
}

@media (max-width: 600px) {
  .place__website {
    max-width: 288px;
    margin-left: 16px;
    grid-column: 1;
  }
}

